@model CreateAboutDto
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Abouts</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Add About</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">New Create About</a>
                </li>
            </ul>
        </div>
        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Add About Panel</div>
                    </div>
                    <div class="card-body">

                        <form method="post">
                            <label>Title</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Description</label>
                            <textarea rows="5" asp-for="Description" class="form-control"> </textarea>
                            <br />
                            <button class="btn btn-primary">Create About</button>
                        </form>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

